.leftPaneBox{
    flex: 2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    font-family: sans-serif;
    position: sticky;
    top: 50px;

}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
    background-color: #000000;
}


.leftPaneContainer{
    padding: 20px;
    margin-left: 11px;
}

.leftPaneMenu{
    margin: 0;
    padding: 0;
    list-style: none;
}

.leftPaneMenuItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.leftPaneMenuIcon{
    margin-right: 20px;
}
.pagePic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.pagesYouLiked{
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
    color: darkcyan;
    margin-left: 20px;
}
.pageList{
    padding: 0;
    margin: 0;
}
.pageListItem{
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    margin-top: 10px;
}
.pageName{
    margin-left: 10px;
    font-size: 20px;
}